.gallerySection {
  text-align: center;
}

.title {
  font-size: var(--font-size-title-large);
  margin-bottom: 6rem;
}

.subtitle {
  color: rgb(var(--color-green));
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-title);
  text-transform: uppercase;
  line-height: 1.6;
}

.imageGrid {
  display: grid;
  gap: var(--gap-card);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.imageGrid button {
  border: none;
  background: transparent;
}

.galleryImage {
  box-shadow: var(--box-shadow-gallery);
  height: 100%;
  max-height: 25rem;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}

.galleryImage:hover {
  border: 2px solid rgb(var(--color-white));
  opacity: 1;
}
