.gallerySection {
  text-align: center;
}

.title {
  font-size: var(--font-size-title-large);
  margin-bottom: 6rem;
}

.subtitle {
  color: rgb(var(--color-green));
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-light);
  line-height: 1.6;
  text-transform: uppercase;
}

.imageGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.imageGrid button {
  background: transparent;
  border: none;
}

.gridFigure {
  height: 30vh;
  overflow: hidden;
  width: 100%;
}

.galleryImage {
  box-shadow: var(--box-shadow-gallery);
  display: block;
  filter:grayscale(85%);
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.galleryImage:hover {
  border: 2px solid rgb(var(--color-white));
  cursor: pointer;
  filter:grayscale(0);
  transform: scale(1.2);
}
