@import '../../assets/styling/abstracts/globals';

.button-container {
width: 284px;
height: 81px;
flex-shrink: 0;
border-radius: 40px 5px;
background: #FFF;
box-shadow: 2px 4px 8px 1px $sub-color;
color: $main-color;
font-size: 2.4rem;
font-weight: 600;
transition: ease-in-out .3s;
cursor: pointer;

&.hero-button {
  margin-top: 2.4rem;
}

&:hover {
  box-shadow: 2px 4px 8px 1px $main-color;
  color: $sub-color;
  }
}
