.contactSection {
  color: rgb(var(--color-white));
  position: relative;
  scroll-margin-block-start: 15vh;
  scroll-behavior: smooth;
  width: 100%;

background: linear-gradient(
    rgba(var(--color-dark-green), 0.8),
    rgba(var(--color-dark-green), 0.4)
  );
}

/* .contactSection::before {
  background-image: url('/assets/images/shared/man-met-snoeischaar.png');
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
} */

.contactSectionWrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}



/* Contact Section Header */

.contactSectionHeader{
  border-bottom: 1px solid rgb(var(--color-green));
  border-top: 1px solid rgb(var(--color-green));
  display: block;
  margin-top: 3rem;
  padding: var(--padding-card);
  text-wrap:stable ;
  width:100%;
}

.title {
  font-size: var(--font-size-title);
}

.titleColor {
  display: block;

color: rgb(var(--color-green))
}

/* End Contact Section Header */

.contactSectionImage {
  display: none;
}

.contactSectionForm {
  width: 100%;
}

@media(min-width:880px) {

  .contactSectionWrapper {
    flex-direction: row;
    gap: 3rem;
  }



  /* Contact Section Header */

  .contactSectionHeader{
    padding-inline: 0;
    padding-block: var(--padding-btn-inline-start);
    width: 50%;
  }

  .contactSectionImage {
    display: block;
    border-radius: 0px var(--border-radius-large) 0px 0px;
    bottom: -20%;
    height: 60%;
    left: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    right: 0;
    top: 55%;
    width: 45%;
  }

  .contactSectionForm {
    width: 50%;
  }

}
