.ctaCardContent {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.377);
  border-radius: var(--border-radius-card);
  color:  rgb(var(--color-white));
  display: flex;
  flex-direction: column;
  gap: var(--gap-card);
  height: 100%;
  padding-block:var(--padding-card);
  padding-inline: 2rem;
  text-align: center;
  width: 100%;
}

.ctaTitle {
  font-size: var(--font-size-title-large);
  font-weight: var(--font-weight-medium);
  text-wrap:pretty;
}
.ctaSubtitle {
  font-size: var(--font-size-body-large);
  text-wrap:pretty;
}

@media(min-width: 480px) {
  .ctaCardContent {
    padding: var(--padding-card);
  }
}
