.ctaCardContent {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.377);
  color:  rgb(var(--color-white));
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-card);
  gap: var(--gap-card);
  height: 100%;
  padding: var(--padding-card);
  text-align: center;
  width: 100%;
}

.ctaTitle {
  font-size: var(--font-size-title-large);
  font-weight: var(--font-weight-medium);
  text-wrap:pretty;
}
.ctaSubtitle {
  font-size: var(--font-size-body-large);
  text-wrap:pretty;
}
