.heroSection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 90vh;
  width: 100%;
  z-index: 1;

  .heroWrapper {
    position: absolute;
    z-index: 10;
    inset: 0;

    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 4rem;

    .heroContent {
      max-width: 85ch;
      display: grid;
      justify-content: center;
      gap: 2.4rem;

      .heroContentTitle {
          color: rgb(var(--color-green));
          font-size: var(--font-size-hero-large);
      }

      .heroContentSubtitle {
        color: rgb(var(--color-white));
        font-size: 1.8rem;
        line-height: 150%;
      }
    }
  }
}

.heroSection::before {
  background: linear-gradient(var(--color-background-gradient-start) 0%, var(--color-background-gradient-end) 100%);
  content: '';
  height: 100%;
  inset: 0;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: 2;
}




.scrollDownBtn {
  align-items: center;
  background: rgb(var(--color-background));
  border-radius: 1rem 0;
  bottom: -7.5rem;
  cursor: pointer;
  display: flex;
  height: 15rem;
  justify-content: center;
  left: 0;
  margin:0 auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  transform: rotate(45deg);
  width: 15rem;
  z-index: 20;
}

.arrows {
  align-items: center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotate(-45deg) translateY(-50px);
}

@keyframes movingArrows {
  to {

    transform: rotate(-45deg) translateY(10px)
  };
}
