.heroSection {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
}

.heroSection::before {
  background: linear-gradient(var(--color-background-gradient-start) 0%, var(--color-background-gradient-end) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  height: 100%;
  inset: 0;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.heroWrapper {
  align-items: center;
  display: flex;
  height: 70%;
  inset: 0;
  inset-block-start: 15%;
  justify-content: center;
  overflow: none;
  position: absolute;
  z-index: 10;
}

.heroContent {
  height: 100%;
  width: 50%;
}

.heroContent > button {
  margin-top: 6rem;
}

.heroContentTitle {
  color: rgb(var(--color-green));
  font-size: var(--font-size-hero-large);
}

.heroImageGrid {
  display: grid;
  gap: 4.1rem 4.1rem;
  grid-template-columns: 57% 40%;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 50%;

grid-template-areas:
    "image-1 imag-2"
    "image-1 image-3";
}

.image > img{
  height: 100%;
  object-fit: cover;
}

.image1{
  align-self: center;
  border-radius: 100px 30px 25px 25px;
  grid-area: image-1;
  height: 100%;
}
.image2 {
  align-self: end;
  border-radius: 30px;;
  grid-area: imag-2;
  height: 65%;
}
.image3, .image3 > img{
  align-self: start;
  border-radius: 30px 30px 80px 30px;
  grid-area: image-3;
  height: 75%;
}

/* .scrollDownBtn {
  background: rgb(var(--color-background));
  bottom: 0;
  color: black;
  height: 1rem;
  left: 0;
  margin-inline: auto;
  padding: var(--padding-card);
  position: absolute;
  right: 0;
  text-align: center;
  top: auto;
  width:20vw;
  z-index: 2000;

clip-path: polygon(
    50% 0%,
    0% 100%,
    100% 100%
  );
} */

.scrollDownBtn {
  align-items: center;
  background: rgb(var(--color-background));
  border-radius: 1rem 0;
  cursor: pointer;
  bottom: -9rem;
  display: flex;
  height: 15rem;
  justify-content: center;
  left: 0;
  margin:0 auto;
  position: absolute;
  right: 0;
  transform: rotate(45deg);
  width: 15rem;
  z-index: 10;
}

.arrows {
  transform: rotate(-45deg) translateY(-50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


@keyframes movingArrows {
  to {transform: rotate(-45deg) translateY(10px)};
}
