.ctaSection {
  color: rgb(var(--color-white));
  position: relative;
  height: 31.8rem;
}

.ctaText {
  display: flex;
  flex-direction: column;
  gap: var(--gap-card);
  text-align: center;
  height: fit-content;
  margin-bottom: 3.5rem;
}

.ctaTitle {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-medium);
  text-wrap:pretty;
}
.ctaSubtitle {
  font-size: var(--font-size-body);
  text-wrap:pretty;
}

.ctaImage {
  display: none;
}


@media(min-width: 990px) {

  .ctaText  {
    padding-left: 20%;
    max-width: 70%;
  }
  .ctaImage {
    display: block;
    border-radius: var(--border-radius-card);
    height: 37.2rem;
    left: -15%;
    position: absolute;
    top: -30%;
    width: 30vw;
  }
}
