:root {

  --border-radius: 1rem;
  --border-radius-btn: 50px;
  --border-radius-icon: 150px;
  --border-radius-card-uneven: 40px 0 40px 0;
  --border-radius-card: 30px;

  --box-shadow: 0px 20px 150px rgba(var(--color-very-dark-green), 0.1.2);
  --box-shadow-gallery: 0px 10px 15px 7px rgba(var(--color-very-dark-green), 1);

  --color-dark-green: 26, 51, 36;
  --color-green: 0, 166, 81;
  --color-light-green: 94, 191, 156;
  --color-white: 244, 255, 250;
  --color-very-dark-green: 2, 21, 6;
  --color-backround-banner: 238, 255, 238;

  --color-background: var(--color-white);
  --color-on-background: var(--color-very-dark-green);
  --color-primary: var(--color-dark-green);
  --color-on-primary: var(--color-white);

  --color-background-gradient-start: rgba(255, 255, 255, 1);
  --color-background-gradient-end: rgba(254, 253, 244, 1);

  --font-size-body: 1.8rem;
  --font-size-body-large: 2.4rem;
  --font-size-hero-large: clamp(4.7rem, -0.6rem + 9.2vw, 7rem);
  --font-size-hero-medium: clamp(2.4rem, -0.475rem + 5.2vw, 4.8rem);
  --font-size-subtitle: clamp(2.4rem, -0.475rem + 5.2vw, 3.2rem);
  --font-size-title: clamp(2.6rem, -0.475rem + 9.2vw, 3.8rem);
  --font-size-title-large: clamp(3.6rem, -0.475rem + 9.2vw, 5.2rem);

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-light: 300;
  --font-weight-normal: 400;

  --gap-card: 3.5rem;

  --line-height: 1.4;

  --margin-inline: clamp(1rem, 2.237vw - 1.295rem, 3rem);
  --margin-text: 1.5rem;
  --margin-top-section: 15rem;

  --padding-btn: 1.6rem;
  --padding-btn-inline-start: 4rem;
  --padding-card: 5rem;

  --section-padding-block: clamp(1rem, 2.237vw - 1.295rem, 2.3rem);

  --wrapper-max-width: 144rem;
  --wrapper-padding-inline: clamp(1.5rem, 1.566vw - 0.607rem, 2.4rem);

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-very-dark-green);
    --color-backround-banner: var(--color-very-dark-green);
    --color-primary: var(--color-green);
    --color-on-background: var(--color-white);
    --color-on-primary: var(--color-white);
    --color-background-gradient-start: rgb(36, 61, 36);
    --color-background-gradient-end: rgba(1, 51, 24, 1);

    --box-shadow: 0px 20px 150px rgba(var(--color-green), 0.3);
    --box-shadow-gallery: 0px 10px 15px 7px rgba(var(--color-green), 0.4);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 67.5%;
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  background: rgb(var(--color-background));
  color: rgb(var(--color-on-background));
  font-size: var(--font-size-body);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

.wrapper {
  margin: 0 auto;
  max-width: var(--wrapper-max-width);
  padding-inline: var(--wrapper-padding-inline);
}

section:not(:first-of-type) {
  margin-top: var(--margin-top-section);
}

section {
  position: relative;
}


#usp-section {
  scroll-margin-top: 20rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
