.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius-icon);
}

.cardIcon {
  background-color: rgb(var(--color-primary));
  height: 8rem;
  padding: 2.4rem;
  width: 8rem;
}

.btnIcon {
  background-color: rgb(var(--color-light-green));
  padding: 1.4rem;
  height: 5rem;
  width: 5rem;
}

.greenIcon {
  background-color: rgb(var(--color-green));
}
