.contact-container{

  .flex-box{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    margin-top: 2.4rem;
    gap: 10%;

    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
