.cookieBanner {
  align-items: center;
  background-color: rgba(var(--color-primary));
  bottom: 10rem;
  color: rgb(var(--color-white));
  display: flex;
  inset-inline: 25%;
  justify-content: space-between;
  margin-inline: auto;
  padding: 2.4rem 3.6rem;
  position: fixed;
  z-index: 9999;
}

.highligtedText{
  font-weight: bold;
  color: rgb(var(--color-on-primary))
}

.btnWrapper {
  display: flex;
  gap: 3rem;
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  padding-block: 1.6rem;
  padding-inline: 2.4rem;
}
.btn:hover {
  border-radius: var(--border-radius-btn);
}

.btnAllow{
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-on-background));
}
