.btn {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: var(--gap-card);
}

.btnPrimary {
  background-color: rgb(var(--color-primary));

}

.btnDarkGreen {
  background-color: rgb(var(--color-dark-green));
}

.btnPrimary, .btnDarkGreen, .btnHero {
  border: none;
  border-radius: var(--border-radius-btn);
  color:  rgb(var(--color-white));
  cursor: pointer;
  font-size: var(--font-size-large);
  padding-block: var(--padding-block-btn);
  padding-inline: var(--padding-inline-btn);
}

.btnPrimary:hover, .btnDarkGreen:hover  {
  background-color: rgb(var(--color-very-dark-green));
}

.btnCard {
  background: transparent;
  border: none;
}


.btnHero {
  background-color: rgb(var(--color-primary));
  display: inline-block;
  width: 100%;

  @media (width >= 582px) {
    width: 50%;
  }

  &:hover {
    background-color: rgba(var(--color-green), 0.85);

  }
}
