.btn {
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--gap-card)
}

.btnPrimary {
  background-color: rgb(var(--color-primary));
  border: none;
  border-radius: var(--border-radius-btn);
  color:  rgb(var(--color-white));
  cursor: pointer;
  font-size: var(--font-size-large);
  padding: var(--padding-btn);
}

.btnPrimary:hover {
 opacity: 0.8;
}

.btnCard {

  background: transparent;
  border: none;
}
