.navbar {
  --nav-bar-padding-block: 1rem;
  background-color: rgb(var(--color-dark-green));
  color: rgb(var(--color-white));
  padding-block: var(--nav-bar-padding-block);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navContainer {
  align-items: center;
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.logo {
  font-size: clamp(2.4rem, -0.475rem + 9.2vw, 3.2rem);
  font-weight: var(--font-weight-bold);
}

/* Nav links */
.navlinks {
  background: rgb(var(--color-background));
  flex-direction: column;
  gap: 3.2rem;
  height: 100svh;
  inset: calc(var(--nav-bar-padding-block) + 3.3rem) auto;
  padding-block: var(--nav-bar-padding-block);
  position: absolute;
  width: 100%;
}

.navLink {
  list-style: none;
  margin-bottom: 3.2rem;
  text-align: center;
}

.navLink a{
  color: var(--color-white);
  font-weight: 700;
  line-height: var(--line-height);
  text-transform: uppercase;
}

.navLink:hover {
  color: rgb(var(--color-on-primary), 0.8);
}

.active, .navLink:hover {
  color: rgb(var(--color-green));
}

/* Contact wrapper */

.contactWrapper {
  align-items: center;
  display: flex;
}

@media(min-width: 650px) {
  .navContainer {
    align-items: center;
  }

  .navLinkSection {
    display: flex;
    justify-content: space-between;
  }

  .navlinks {
    background: transparent;
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    height: auto;
    inset: 0;
    padding-right: 3rem;
    position: static;
    width: fit-content;
  }

  .navLink {
    display: block;
    margin: auto 0;
    padding-block: 1.3rem;
  }

  .active, .navLink:hover{
    border-bottom: solid 1px;
    border-top: solid 1px;
  }
  .contactWrapper {
    align-items: center;
    border-left: solid 1px rgb(var(--color-light-green));
    display: flex;
    gap: 1.8rem;
    padding-inline-start: 3rem;
  }

  .contactWrapperIcon {
    align-items: center;
    display: flex;
    gap: 1.4rem;
  }
}
