.socialProofSection {
  position: relative;
  display: grid;
  justify-content: center;
  z-index: 2;
}

.socialProofTitle {
  text-align: center;
  font-size: var(--font-size-hero-medium);
  max-width: 40ch;
  margin-inline: auto;
}

.socialProofWrapper {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: var(--gap-card);
  margin-top: 7.5rem;
}
