@import '../../assets/styling/abstracts/globals';
@import '../../assets/styling/base/globals';

.nav-container{
  width: 100%;
  .nav-tabs {
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .2rem;

    .active {
      background-color: $main-color;
      color: $white-color;
    }

    .not-active {
      color: #1A3324;
      background-color: $sub-color;
    }

    .nav-tab {
      text-align: center;
      padding: 15px 0;
      border-radius: 8px 8px 0 0;
      font-size: 24px;
      cursor: pointer;

      &:hover {
        background-color: $main-color;
        color: $white-color;
      }
    }
  }

  .nav-bar {
    background-color: $main-color;
    padding: 1.8rem 0;
    display: flex;
    justify-content: space-between;
    .logo {
      margin-left: 5%;
      #logo{
        @include Logo;
      }
    }
    .contact{
      margin-right: 5%;
      span{
        display: block;
        color: $white-color;
        text-align: end;
        font-size: 1.8rem;
        line-height: 1.6;
      }
    }
  }
}
