@import '../../assets/styling/abstracts/globals';
@import '../../assets/styling/base/globals';

.nav-container{
  width: 100%;
  .nav-tabs {
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .nav-tab {
      text-align: center;
      padding: 15px 0;
      background-color: $sub-color;
      border-radius: 15px 15px 0 0;
      font-size: 24px;
      color: #1A3324;
      cursor: pointer;

      &:hover {
        background-color: $main-color;
        color: $white-color;
      }
    }
  }

  .nav-bar {
    background-color: $main-color;
    padding: 1.8rem 0;
    .logo {
      margin-left: 5%;
      #logo{
        @include Logo;
      }
    }
  }

  .active {
    background-color: $main-color;
    color: $white-color;
  }
}
