.projectBanner {
  background-color: rgba(var(--color-backround-banner), 1);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-large);
  padding-block: var(--padding-card);
  padding-inline: var(--padding-card);
  position: absolute;
  top: 5%;
  z-index: 2;
  text-wrap: pretty;
}
.projectBanner > h4 {
  max-width: 80%;
}

.projectBannerLeft{
  right: -30%;
  border-left: 2px solid rgb(var(--color-green));
  border-radius: 0 0 100px 0;
  text-align: right;
}
.projectBannerLeft > h4 {
  float: right;
}

.projectBannerRight {
  left: -30%;
  border-right: 2px solid rgb(var(--color-green));
  border-radius: 0 0 0 100px;
}
