.projectWrapper {

  position: relative;
}

.projectWrapper:nth-child(2) {
  flex-direction: row-reverse;
}

.projectImage {
  height: 40rem;
  width: 100%;
}

.projectArticle {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
  gap: var(--gap-card);
}


@media (min-width: 783px){

  .projectWrapper {
    align-items: flex-end;
    display: flex;
    gap: var(--gap-card);
    height: 60rem;
  }

  .projectImage {
    border-radius: var(--border-radius-large) 0px 0px 0px;
    height: 100%;
    width: 50%;
  }

  .projectArticle {
    justify-content: flex-end;
    text-align: left;
    width: 50%;
  }
}
