.projectWrapper {
  align-items: flex-end;
  display: flex;
  gap: var(--gap-card);
  height: 60rem;
  position: relative;
}

.projectWrapper:nth-child(2) {
  flex-direction: row-reverse;
}

.projectImage {
  border-radius: var(--border-radius-large) 0px 0px 0px;
  height: 100%;
  width: 50%;
}

.projectArticle {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: var(--gap-card);
  height: auto;
  width: 50%;
}
